<div class="main">
    <div class="toolbox">
        <button (click)="goToDashboard()" class="button-81">Back</button>
        <button (click)="drawRectangle()" class="button-81">Rectangle</button>
        <button (click)="drawCircle()" class="button-81">Circle</button>
        <button (click)="startDrawing()" class="button-81">Pen</button>
        <button (click)="startErasing()" class="button-81">Erase</button>
        <button (click)="clear()" class="button-81">Clear</button>
        <button class="button-81">Save</button>
        <p class="color">
            Fill:
            <input [(ngModel)]="fill" type="color" />
        </p>
        <p class="color"> 
            Stroke:
            <input [(ngModel)]="stroke" type="color" />
        </p>
    </div>
    <!-- <div class="canvas">
        <canvas></canvas>
    </div> -->
    <div #stageContainer></div>
</div>