<div class="main">
    <div class="toolbox">
        <button class="button-81">Back</button>
        <button class="button-81">Rectangle</button>
        <button class="button-81">Circle</button>
        <button class="button-81">Pen</button>
        <button class="button-81">Text</button>
        <button class="button-81">Erase</button>
        <button class="button-81">Clear</button>
        <button class="button-81">Undo</button>
        <button class="button-81">Save</button>
    </div>
    <!-- <div class="canvas">
        <canvas></canvas>
    </div> -->
    <div #stageContainer></div>
</div>